# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/
.pytest_cache/
.ipynb_checkpoints/

# Node / React / Vite
node_modules/
dist/
build/

# Env / secrets
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/